
/* flex nav */
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}


nav ul li{
    list-style: none;
}

/* flex colum example */

.flex-container{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     gap: 50px;
}

.column{
    display: flex;
    gap: 50px;
    /* flex-direction: column; */
    flex-basis: 100%;
    flex: 1;
}


.column1{
    background-color: blueviolet;

}

.column2{
    background-color: green;
}



/* grid item example */

.grid{
    display: grid;
    background-color: aqua;
    gap: 10px;
    padding: 10px;
}

.grid-item{
    background-color: white;
    text-align: center;
    padding: 20px;
}

.item1{
    grid-column: 1;
 

}

.item2{
    grid-column: 2;

}

/* grid Area example */

.grid-area-container{
    display: grid;
    grid-template-columns:repeat(4.1fr) ; /*4 columns */
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    background-color: aqua;
    padding: 10px;
    grid-template-areas: 
    "area1 area1 area4 area4"
    "area2 area2 area3 area3";
}

/* #area1 #area2 #area3 #area4{
    align-items: center;
} */

#area1{
    grid-area: area1;
    background-color: white;
}

#area2{
    grid-area: area2;
    background-color: aquamarine;
}

#area3{
    grid-area: area3;
    background-color: antiquewhite;

}

#area4{
    grid-area: area4;
    background-color: blueviolet;
}

